<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
    <div class="col-xs-12">
      <img src="" alt="" class="img-responsive">
          <h1>Phone Name</h1>
    </div>  
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group ">
        <button class="btn btn-primary dropdown-toggle">Manage Phone <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li> <a href=""></a>Add Accesories to The The Phone</li>
          <li> <a href=""></a>Edit</li>
          <li> <a href=""></a>Delete</li>
        </ul> 
      </div>   
    </div>
  </div>

 <div class="row">
  <div class="col-xs-12">
    Description
  </div>
 </div>

 <div class="row">
  <div class="col-xs-12">
    Accesories
  </div>
 </div>

 <!-- <div class="row">
  <div class="col-xs-12">
    Description
  </div>
 </div> -->